//front size
$titleSize: 72px; //title
$normalSize: 16px; //subtitle prize paragraph
$headingSize: 36px; //heading
$midSize: 12px; //button label
$smallSize: 10px; //paragraph

//color
$brown: #C6A466;
$carneose: #FDE4B6;
$black: #2C2E2F;
$grey: #979797;
$lightGrey: #F5F5F5;